<h1>Mat birthday Input example</h1>

<form #f1="ngForm" [formGroup]="filledBirthdayForm">
  <mat-form-field floatLabel="always">
    <mat-label>Birthday (required)</mat-label>

    <!-- @TODO : add min & max -->
    <ngx-mat-birthday-input
      formControlName="birthday"
      id="birthday"
      required
    ></ngx-mat-birthday-input>

    <mat-icon matSuffix>event</mat-icon>

    <mat-error *ngIf="filledBirthdayForm?.get('birthday')?.invalid">
      Invalid error message
    </mat-error>
  </mat-form-field>
</form>

<form #f2="ngForm" [formGroup]="emptyBirthdayForm">
  <mat-form-field floatLabel="always" class="no-border">
    <mat-label>Birthday: Min today</mat-label>

    <!-- @TODO : add min & max -->
    <ngx-mat-birthday-input
      formControlName="birthday"
      id="birthday"
      appearance="outline"
      [min]="today"
    ></ngx-mat-birthday-input>

    <mat-error *ngIf="emptyBirthdayForm?.get('birthday')?.invalid">
      Invalid error message
    </mat-error>
  </mat-form-field>
</form>

<div class="buttons-container">
  <button mat-stroked-button (click)="emptyBirthdayForm.reset(); filledBirthdayForm.reset()">
    Reset
  </button>
  <button
    mat-stroked-button
    (click)="emptyBirthdayForm.markAllAsTouched(); filledBirthdayForm.markAllAsTouched()"
  >
    markAllAsTouched()
  </button>
</div>
