<h1>Mat birthday Input example</h1>

<form #f1="ngForm" [formGroup]="filledBirthdayForm">
  <mat-form-field floatLabel="always">
    <mat-label>Birthday</mat-label>

    <!-- @TODO : add min & max -->
    <ngx-mat-birthday-input formControlName="birthday" id="birthday"></ngx-mat-birthday-input>

    <mat-icon matSuffix>event</mat-icon>

    <mat-error *ngIf="filledBirthdayForm?.get('birthday')?.invalid">
      Invalide error message
    </mat-error>
  </mat-form-field>
</form>

<form #f2="ngForm" [formGroup]="emptyBirthdayForm">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Birthday</mat-label>

    <!-- @TODO : add min & max -->
    <ngx-mat-birthday-input
      formControlName="birthday"
      id="birthday"
      appearance="outline"
    ></ngx-mat-birthday-input>

    <mat-icon matSuffix>event</mat-icon>

    <mat-error *ngIf="emptyBirthdayForm?.get('birthday')?.invalid">
      Invalide error message
    </mat-error>
  </mat-form-field>
</form>
