<h1>Mat date Input example</h1>

<form #f1="ngForm" [formGroup]="filledDateForm">
  <mat-form-field floatLabel="always">
    <mat-label>Date (required)</mat-label>

    <!-- @TODO : add max -->
    <ngx-mat-date-input formControlName="date" id="date" required></ngx-mat-date-input>

    <mat-icon matSuffix>event</mat-icon>

    <mat-error *ngIf="filledDateForm?.get('date')?.invalid"> Invalid error message </mat-error>
  </mat-form-field>
</form>

<form #f2="ngForm" [formGroup]="emptyDateForm">
  <mat-form-field floatLabel="always" class="no-border">
    <mat-label>Date: Min today</mat-label>

    <!-- @TODO : add max -->
    <ngx-mat-date-input
      formControlName="date"
      id="date"
      appearance="outline"
      [min]="today"
    ></ngx-mat-date-input>

    <mat-error *ngIf="emptyDateForm?.get('date')?.invalid"> Invalid error message </mat-error>
  </mat-form-field>
</form>

<form #f2="ngForm" [formGroup]="emptyDateForm">
  <mat-form-field floatLabel="always" class="no-border">
    <mat-label>Hidden year</mat-label>

    <!-- @TODO : add max -->
    <ngx-mat-date-input
      formControlName="date"
      id="date"
      appearance="outline"
      [fields]="{ day: true, month: true, year: false }"
    ></ngx-mat-date-input>
  </mat-form-field>
</form>

<div class="buttons-container">
  <button mat-stroked-button (click)="emptyDateForm.reset(); filledDateForm.reset()">Reset</button>
  <button
    mat-stroked-button
    (click)="emptyDateForm.markAllAsTouched(); filledDateForm.markAllAsTouched()"
  >
    markAllAsTouched()
  </button>
</div>
